#home {
  background-color: #1abc9c !important;
}
h1 {
  font-size: 4.5rem;
  font-weight: bold;
}
i {
  color: white;
  font-size: 2rem;
}
p{
    font-size: 1.5rem;
}
.home-content img{
  width: 15rem  !important;
}